# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist
*.egg-info
pandoc-*-amd64.deb
pandoc-*-windows-x86_64.msi
pandoc-*-x86_64-macOS.pkg
README.rst

# Environments
.venv/
venv/
.venv39

# Other
kubectl.exe
/build
/.vscode
/site
