# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist
*.egg-info

# Environments
.venv/
venv/
.venv39

# Other
kubectl.exe
/build
/.vscode
/site
/.bob/.bob-errors
/.bob/notes
