---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: "{{ mas_instance_id }}-rollback-{{ timestamp }}"
  labels:
    tekton.dev/pipeline: mas-rollback
spec:
  pipelineRef:
    name: mas-rollback

  serviceAccountName: "{{ service_account_name | default('pipeline', True) }}"
  timeouts:
    pipeline: "0"

  params:
    # Target MAS Instance
    # -------------------------------------------------------------------------
    - name: mas_instance_id
      value: "{{ mas_instance_id }}"

    # Catalog Version
    # -------------------------------------------------------------------------
    - name: mas_catalog_version
      value: "{{ mas_catalog_version }}"

    # MAS Core Rollback Version
    # -------------------------------------------------------------------------
    - name: mas_core_version
      value: "{{ mas_core_version | default('') }}"

    # Manage App Rollback Version
    # -------------------------------------------------------------------------
    - name: mas_app_manage_version
      value: "{{ mas_app_manage_version | default('') }}"

    # IoT App Rollback Version
    # -------------------------------------------------------------------------
    - name: mas_app_iot_version
      value: "{{ mas_app_iot_version | default('') }}"

{%- if skip_pre_check is defined and skip_pre_check != "" %}

    # Pipeline config
    # -------------------------------------------------------------------------
    - name: skip_pre_check
      value: "{{ skip_pre_check }}"
{%- endif %}
{%- if ocp_ingress_tls_secret_name is defined and ocp_ingress_tls_secret_name != "" %}

    # Cluster config
    # -------------------------------------------------------------------------
    - name: ocp_ingress_tls_secret_name
      value: "{{ ocp_ingress_tls_secret_name }}"
{%- endif %}
{%- if image_pull_policy is defined and image_pull_policy != "" %}

    # Image Pull Policy
    # -------------------------------------------------------------------------
    - name: image_pull_policy
      value: "{{ image_pull_policy }}"
{%- endif %}
{%- if artifactory_username is defined and artifactory_username != "" %}

    # Development Build Support
    # -------------------------------------------------------------------------
    - name: artifactory_username
      value: "{{ artifactory_username }}"
    - name: artifactory_token
      value: "{{ artifactory_token }}"
{%- endif %}

  workspaces:
    # The generated configuration files
    # -------------------------------------------------------------------------
    - name: shared-configs
      persistentVolumeClaim:
        claimName: config-pvc

    # PodTemplates configurations
    # -------------------------------------------------------------------------
    - name: shared-pod-templates
      secret:
        secretName: pipeline-pod-templates
